* {
  color: white;
}

.login-bg {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.form-container {
  background-color: #272727;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.website-logo {
  height: 2rem;
  width: 4rem;
  align-self: center;
}
label {
  color: #ffffff;
  font-weight: 500;
  display: block;
  margin-top: 1rem;
}
input {
  height: 2rem;
  width: 100%;
  margin-top: 0.4rem;
  background-color: transparent;
  border: 1px solid #7e858e;
  padding-left: 1rem;
  font-weight: 500;
}
#username {
  background-color: transparent;
}
#username:focus {
  background-color: transparent;
}

button {
  margin-top: 1.6rem;
  height: 2rem;
  color: #ffffff;
  font-weight: 800;
  background-color: #6366f1;
  border-radius: 5px;
  border: none;
  margin-bottom: 0px;
}

.error-msg {
  color: red;
  margin: 1px;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 28rem;
  }
}
